<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">rebootme</h3>
</div>

<div class="container-fluid">
  <h1>Reboot Yourself</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Rebalance your life.
  </p>
  <p>Find something that excites you</p>
  <div class='row-fluid' ng-repeat='group in categoryGroups'>
    <div ng-click='loadCategoryIdeas()' ng-repeat='category in group' class='col-xs-12 col-md-3 btn btn-lg btn-primary'>{{category.name}}</div>
  </div
</div>
